<div class="chapter-number">chapter 3</div>
<button class="prev chapter-number">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M70 6.4L26.5 44.8c-3.2 2.8-3.2 7.6 0 10.5L70 93.7c3.3 2.8 5.9 1 5.9-4.4V10.6C75.9 5.4 73.3 3.4 70 6.4z"/></svg>
  <span>chapter 2</span>
</button>
<h2 class="title">opportunity to grow</h2>

<p class="subtitle">“I have built my organization upon fear.”<br>- Al Capone</p>

<button class="next section-next story-button">
  <span class="animate"></span>
</button>