<div class="chapter-number">chapter 3</div>

<h2 class="title">opportunity to grow</h2>

<p class="subtitle">“Le crime paie.”<br>- Booba</p>

<button class="next section-next story-button">
  <span class="animate"></span>
</button>