<button class="next section-next story-button button-absolute">
  <span class="animate"></span>
</button>

<div class="section-mafia-part">
  <div class="animate">
    <div class="subtitle">
      Opportunity
    </div>
    <p>
      Al Capone saw an opportunity for himself and the Outfit in Chicago to make money and to further expand their criminal empire by racketeering small businesses.
    </p>
  </div>
</div>
<div class="section-mafia-part">
  <div class="animate">
    <div class="subtitle">
      Immunity
    </div>
    <p>
      Capone and his men were raking in vast amounts of money, largely immune to prosecution because of witness intimidation and the bribing of city officials.
    </p>
  </div>
</div>
<div class="section-mafia-part">
  <div class="animate">
    <div class="subtitle">
      Benefits
    </div>
    <p>
      Among all the business, this was one of the greatest sources of income for the Outfit. At the apogee the outfit chicago had a turnover of 1.5 billions dollars.
    </p>
  </div>
</div>