<button class="next section-next story-button button-absolute">
  <span class="animate"></span>
</button>

<div class="section-mafia-part">
  <div class="animate">
    <div class="subtitle">
      Opportunity
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nemo similique omnis saepe odit velit illum distinctio atque, provident, magnam blanditiis quisquam.
    </p>
  </div>
</div>
<div class="section-mafia-part">
  <div class="animate">
    <div class="subtitle">
      Immunity
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nemo similique omnis saepe odit velit illum distinctio atque, provident, magnam blanditiis quisquam.
    </p>
  </div>
</div>
<div class="section-mafia-part">
  <div class="animate">
    <div class="subtitle">
      Benefits
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nemo similique omnis saepe odit velit illum distinctio atque, provident, magnam blanditiis quisquam.
    </p>
  </div>
</div>