<video src="assets/video/chapter-3-mafia.mp4" autoplay loop muted></video>

 <button class="next section-next story-button">
  <span class="animate"></span>
</button>

<div class="content">
  <div class="content-text">
    <div class="content-text-subtitle">PROHIBITION AS TRIGGER</div>
    <p class="content-text-description">
      Prohibition has been the starting point for the development of mafia networks, which have survived to this day by replacing the lucrative trade in illegal alcohol by prostitution and gambling industries, and more recently narcotics.
    </p>
  </div>
</div>