<h2 class="title">CONCLUSION</h2>
<p class="description">The prohibition in the United States, which lasted from 1919 to 1933, was the starting point of a vast smuggling market led by a nascent Italian-American mafia. This is how famous names such as Al Capone built colossal fortunes.</p>