<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/app.min.css"/>
</head>
<body>

  <div class="container">
    {% block content %}  {% endblock %}
  </div>

  <div class="fixed">
    {% block fixed %}  {% endblock %}
  </div>

<script src="{{ global.request.basepath }}/assets/js/main.min.js"></script>
</body>
</html>