<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{ title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Raleway:800" rel="stylesheet">
  <link rel="stylesheet" href="{{ global.request.basepath }}/assets/css/app.min.css"/>
</head>
<body>

  <div class="container">
    {% block content %}  {% endblock %}
  </div>

  <div class="fixed">
    {% block fixed %}  {% endblock %}
  </div>

<script src="{{ global.request.basepath }}/assets/js/main.min.js"></script>
</body>
</html>