<nav class="timeline">

  <div class="timeline-hide">

    <div class="timeline--part">
      <div class="timeline--chapter chapter-prev">
        <button class="timeline--chapter-name">Chapter 1</button>
      </div>
      <div class="timeline--chapter chapter-next">
        <button class="timeline--chapter-name">Chapter 2</button>
      </div>
      <div class="timeline--container">
        <button class="timeline--container--pin active" data-target="1"></button>
        <button class="timeline--container--pin" data-target="2"></button>
        <button class="timeline--container--pin" data-target="3"></button>
        <div class="timeline--container--seek-bar">
          <div class="timeline--container--seek-bar-fill"></div>
        </div>    
      </div>
    </div>

    <div class="timeline--part">
      <div class="timeline--chapter chapter-prev">
        <button class="timeline--chapter-name">Chapter 2</button>
      </div>
      <div class="timeline--chapter chapter-next">
        <button class="timeline--chapter-name">Chapter 3</button>
      </div>
      <div class="timeline--container">
        <button class="timeline--container--pin" data-target="1"></button>
        <button class="timeline--container--pin video-play" data-target="2"></button>
        <button class="timeline--container--pin" data-target="3"></button>
        <div class="timeline--container--seek-bar">
          <div class="timeline--container--seek-bar-fill"></div>
        </div>    
      </div>
    </div>

    <div class="timeline--part">
      <div class="timeline--chapter chapter-prev">
        <button class="timeline--chapter-name">Chapter 3</button>
      </div>
      <div class="timeline--container">
        <button class="timeline--container--pin" data-target="1"></button>
        <button class="timeline--container--pin" data-target="2"></button>
        <button class="timeline--container--pin" data-target="3"></button>
        <div class="timeline--container--seek-bar">
          <div class="timeline--container--seek-bar-fill"></div>
        </div>    
      </div>

    </div>

  </div>
  
</nav>

<button class="fixed-vertical-control">
  <span class="windows">
    <span class="window"></span>
    <span class="window"></span>
  </span>
  <span class="name">mafia</span>
  <span class="name">civil</span>
</button>

<button class="fixed-audio-mute audio-mute hide">
  <span class="fixed-audio-mute-container">
    <span class="fixed-audio-mute-container-line"></span>
    <span class="fixed-audio-mute-container-line"></span>
    <span class="fixed-audio-mute-container-line"></span>
    <span class="fixed-audio-mute-container-line"></span>
  </span>
</button>