<div class="chapter-number">chapter 1</div>

<h2 class="title">prohibition's begining</h2>

<p class="subtitle">"L'habit ne fait pas le moine"</p>

<button class="next section-next story-button">
  <span class="animate"></span>
</button>