<button class="next section-next story-button">
  <span class="animate"></span>
</button>
<div class="content">
  <div class="content-image"></div>
  <div class="content-text">
    <div class="content-text-subtitle">citizen's reaction</div>
    <p class="content-text-description">
      People took advantage of the law enforcement time to stock alcohol, other people used medical solution to access to alcohol . The prescription authorized 1 pint every 10 days.
      <br>
      <br>
      Synagogues and churches were able to order wine , the orders were multiplied by 10.
      During the prohibition, the number of jews family increase from 80 to 900.
    </p>
  </div>
</div>
