
<button class="next section-next story-button">
  <span class="animate"></span>
</button>

<div class="content">
  <div class="content-text">
    <div class="content-text-subtitle">The Untouchables</div>
    <p class="content-text-description">The Prohibition Unit was the federal law enforcement agency formed to enforce the National Prohibition Act of 1919.
    <br><br>
    On April 1, 1927, it became an independent entity within the Department of the Treasury, changing its name from the Prohibition Unit to the Bureau of Prohibition.
    <br><br>
    By 1933, with the Repeal of Prohibition imminent, it was briefly absorbed into the FBI, and became the Bureau's "Alcohol Beverage Unit".
    </p>
  </div>
</div>
<div class="points">
  <button data-src="assets/audio/about-civil-1.mp3"class="audio-listen point eliot"></button>
  <button data-src="assets/audio/about-civil-2.mp3"class="audio-listen point bill"></button>
  <button data-src="assets/audio/about-civil-3.mp3"class="audio-listen point lyle"></button>
</div>