<!--
<button class="next section-next story-button">
  <span class="animate"></span>
</button>
-->
<div class="content">
  <div class="content-text">
    <div class="content-text-subtitle">The Untouchables</div>
    <p class="content-text-description">The Bureau of Prohibition (or Prohibition Unit) was the federal law enforcement agency formed to enforce the National Prohibition Act of 1919, commonly known as the Volstead Act, which backed up the 18th Amendment to the United States Constitution regarding the prohibition of the manufacture, sale, and transportation of alcoholic beverages. When it was first established in 1920, it was a unit of the Bureau of Internal Revenue.
    <br><br>
    On April 1, 1927, it became an independent entity within the Department of the Treasury, changing its name from the Prohibition Unit to the Bureau of Prohibition. In 1930, it became part of the Department of Justice.
    <br><br>
    By 1933, with the Repeal of Prohibition imminent, it was briefly absorbed into the FBI, or "Bureau of Investigation" as it was then called, and became the Bureau's "Alcohol Beverage Unit," though, for practical purposes it continued to operate as a separate agency. Very shortly after that, once Repeal became a reality, and the only federal laws regarding alcoholic beverages being their taxation, it was switched back to Treasury, where it was renamed the Alcohol Tax Unit.
    </p>
  </div>
</div>
<div class="points">
  <div class="point eliot"></div>
  <div class="point bill"></div>
  <div class="point lyle"></div>
</div>