<div class="chapter-number">chapter 2</div>
<button class="prev chapter-number">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M70 6.4L26.5 44.8c-3.2 2.8-3.2 7.6 0 10.5L70 93.7c3.3 2.8 5.9 1 5.9-4.4V10.6C75.9 5.4 73.3 3.4 70 6.4z"/></svg>
  <span>chapter 1</span>
</button>

<h2 class="title">disorganized society</h2>

<p class="subtitle">"The only advantage to me of having known the era of prohibition is that any alcohol seems good to me."<br>- Johnson Peter</p>

<button class="next section-next story-button">
  <span class="animate"></span>
</button>