<div class="chapter-number">chapter 2</div>

<h2 class="title">disorganized society</h2>

<p class="subtitle">"The only advantage to me of having known the era of prohibition is that any alcohol seems good to me."<br>- Johnson Peter</p>

<button class="next section-next story-button">
  <span class="animate"></span>
</button>