<button class="next section-next story-button button-absolute video-play">
  <span class="animate"></span>
</button>

<div class="content">
  <h3 class="subtitle">Aldulterated Alcohol</h3>
  <p>
   To make their production, the mafia distilled their alcohol in wooden bark, entailing the synthesis of methanol, which provokes drunkenness like ethanol, but destroys gradually the optical nerve then all the nervous system.
   In hindsight, the death toll is estimated at more than thousands deaths.
  </p>
</div>

<div class="icons">

<button class="icon">
  <span class="icon-title subtitle">Death</span>
</button>
<button class="icon">
  <span class="icon-title subtitle">Madness</span>
</button>
<button class="icon">
  <span class="icon-title subtitle">Blindness</span>
</button>

</div>