<button class="next section-next story-button button-absolute">
  <span class="animate"></span>
</button>

<div class="content">
  <h3 class="subtitle">Aldulterated Alcohol</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ad autem natus iste enim veritatis, earum, fuga itaque fugit, ab rerum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>

<div class="icons">

<button class="icon">
  <span class="icon-title subtitle">Death</span>
</button>
<button class="icon">
  <span class="icon-title subtitle">Madness</span>
</button>
<button class="icon">
  <span class="icon-title subtitle">Blindness</span>
</button>

</div>