<button class="next section-next story-button button-absolute">
  <span class="animate"></span>
</button>
<h3 class="title">GALLONS OF ALCOHOL CONSUMED</h3>
<p class="subtitle">per capita per year</p>
<div class="graph-container graph-civil-3"></div>