<button class="next section-next story-button button-absolute">
  <span class="animate"></span>
</button>

<div class="content">
  <div class="content-animate">
    <div class="content-community"></div>
    <div class="content-community"></div>
    <div class="content-community"></div>
    <div class="content-community"></div>
  </div>
  <div class="content-text">
    Minorities have strongly asserted themselves through the development of organized crime syndicates.
    </br>
    </br>
    The Prohibition thus defeated the Americanization of minorities, and on the contrary favored the strengthening of communitarianism.
  </div>
</div>