<h2 class="title">CONCLUSION</h2>
<p class="description">A climate of illegality and insecurity was maintained by the agents of the organized crime which enjoyed impunity for a long time. As noticed by the journalist Walter Lippmann in 1931: "High degree of illegality comes from deep desire that feed the Americans for many things which they also wish to prohibit."</p>