.section-title
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh
  position: relative
  &::before
    background: url('../img/title-1.jpg') no-repeat
    background-size: cover

  .chapter-number
    position: absolute
    top: 30px
    left: 30px
    font-family: 'Raleway', sans-serif
    font-weight: 800
    font-size: 18px
    text-transform: uppercase
    &.prev
      height: 30px
      width: auto
      position: absolute
      z-index: 2000      
      top: initial
      bottom: 30px
      display: flex
      line-height: 30px
      margin-left: -30px
      svg
        width: 30px
        height: 30px
        transform: scale(0.35) translateX(15px) 
        path
          fill: $white

  .title
    width: 100vw
    text-align: center
    margin-bottom: 20px
  .subtitle
    color: $green
    font-weight lighter
    margin-top 0
    text-align center

.story-button
  z-index 2
  &::after
    color $green
  &:hover
    &::after
      color $black

.container--story--row-mafia
  .section-title
    .subtitle
      color: $yellow

  .story-button
    &::after
      color $yellow
    &:hover
      &::after
        color $black