.graph-container
  margin auto
  width 80vw
  height 50vh
  .graph-numbers
    fill $white
    font-size 12pt
  .graph-chart
  .graph-value
    text
      fill $white
      opacity 0
    &:hover
      text
        opacity 1
  polyline
    fill none
    stroke-width 2
    pointer-events none
  polyline, rect, .circles
    transform scaleY(0)
    transform-origin bottom
    transition transform .5s