.graph-container
  margin auto
  width 80vw
  height 50vh
  .graph-numbers
    font-size 12pt
  .graph-value
    text
      font-size 14pt
      opacity 0
    &:hover
      text
        opacity 1
  polyline, rect, circle
    transition all .75s 1s ease-in-out
  polyline
    fill none
    stroke-width 2
    pointer-events none
  rect
    transform scaleY(0)
    transform-origin bottom
  circle
    opacity 0
  text
    fill $white