<div class="chapter-number">chapter 1</div>

<h2 class="title">prohibition's begining</h2>

<p class="subtitle">“Prohibition ... it's still better than no alcohol at all.”<br>- Will Rogers</p>

<button class="next section-next story-button">
  <span class="animate"></span>
</button>