<button class="next section-next story-button">
  <span class="animate"></span>
</button>
<div class="content">
  <div class="content-image"></div>
  <div class="content-text">
    <div class="content-text-subtitle">mafia's opportunities</div>
    <p class="content-text-description">
      The high demand in alcohol of the American consumers did not remain unanswered. Existence of a big potential market aroused the interest.
      <br>
      <br>
      The production of alcohol, fallen to the hands of criminal bands or secret manufacturers, escaped then any control and the final quality of the product could vary.
    </p>
  </div>
</div>
