<h3 class="title">LIQUOR AND BEER SIZED</h3>
<p class="subtitle">In thousand of gallons</p>
<div class="graph-container graph-mafia-1"></div>

<button class="next section-next story-button">
  <span class="animate"></span>
</button>