<div class="section-part">
  <div class="section-part-sub">
    <div class="subtitle">Johnny Torrio</div>
  </div>
  <div class="section-part-sub">
    <div class="content">
      <button class="audio-listen" data-src="assets/audio/about-torrio.mp3"> 
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M90.8 50c0 1.3-0.7 2.6-1.8 3.3l-62 41c-0.7 0.5-1.4 0.7-2.2 0.7 -0.6 0-1.3-0.2-1.9-0.5 -1.3-0.7-2.1-2-2.1-3.5V9c0-1.5 0.8-2.8 2.1-3.5 1.3-0.7 2.9-0.6 4.1 0.2l62 41C90.1 47.4 90.8 48.7 90.8 50z"/></svg>
      </button>
      <div class="subtitle">Giovanni « Johnny » Torrio</div>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, nam blanditiis reprehenderit inventore amet veniam.
      </p>
    </div>
  </div>
</div>
<div class="section-part">
  <div class="section-part-sub">
    <div class="subtitle">Al Capone</div>
  </div>
  <div class="section-part-sub">
    <div class="content">
      <button class="audio-listen" data-src="assets/audio/about-capone.mp3"> 
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M90.8 50c0 1.3-0.7 2.6-1.8 3.3l-62 41c-0.7 0.5-1.4 0.7-2.2 0.7 -0.6 0-1.3-0.2-1.9-0.5 -1.3-0.7-2.1-2-2.1-3.5V9c0-1.5 0.8-2.8 2.1-3.5 1.3-0.7 2.9-0.6 4.1 0.2l62 41C90.1 47.4 90.8 48.7 90.8 50z"/></svg>
      </button>
      <div class="subtitle">Alphonse « Al » Capone</div>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, nam blanditiis reprehenderit inventore amet veniam.
      </p>
    </div>
  </div>
</div>
<div class="section-part">
  <div class="section-part-sub">
    <div class="subtitle">Lucky Luciano</div>  
  </div>
  <div class="section-part-sub">
    <div class="content">
      <button class="audio-listen" data-src="assets/audio/about-luciano.mp3"> 
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M90.8 50c0 1.3-0.7 2.6-1.8 3.3l-62 41c-0.7 0.5-1.4 0.7-2.2 0.7 -0.6 0-1.3-0.2-1.9-0.5 -1.3-0.7-2.1-2-2.1-3.5V9c0-1.5 0.8-2.8 2.1-3.5 1.3-0.7 2.9-0.6 4.1 0.2l62 41C90.1 47.4 90.8 48.7 90.8 50z"/></svg>
      </button>
      <div class="subtitle">Charles « Lucky » Luciano</div>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, nam blanditiis reprehenderit inventore amet veniam.
      </p>
    </div>
  </div>
</div>

<button class="next section-next story-button">
  <span class="animate"></span>
</button>