<div class="chapter-number">chapter 2</div>

<h2 class="title">the law of the strongest</h2>

<p class="subtitle">“Prohibition has done nothing but trouble.”<br>- Al Capone</p>

<button class="next section-next story-button">
  <span class="animate"></span>
</button>