<button class="next section-next story-button button-absolute">
  <span class="animate"></span>
</button>
<h3 class="title">RATE OF MURDER AND ASSAULT</h3>
<p class="subtitle">per 100 000 population</p>
<div class="graph-container graph-mafia-2"></div>