<h2 class="title">BACK IN CONTEXT</h2>
<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, molestiae quae saepe expedita in. Obcaecati alias voluptatibus, molestiae laboriosam maxime! Quasi, deserunt! Mollitia nesciunt, impedit repellendus. Voluptatem perferendis, sint ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas error numquam, aliquid dicta provident maiores! Eos, dolore, nam quas quidem rem, expedita, dolorem error quod aspernatur labore illum consequatur ratione.</p>
<button class="next">
  <span class="animate"></span>
</button>