{% extends "partials/base.twig" %}

{% block content %}

  <div class="container--section container--section-landing hide-fixed">
    {% include 'pages/landing.twig' %}
  </div>

  <div class="container--section container--section-context hide-fixed">
    {% include 'pages/context.twig' %}
  </div>

  <div class="container--section container--section-split hide-fixed">
    {% include 'pages/split.twig' %} 
  </div>

  <div class="container--story">

    <div class="container--story--row container--story--row-civil">
      
      {#CHAPITRE 1#}
      <div class="container--story--section section-title section-1-1 hide-fixed">
        {% include 'pages/civil/chapter-1/1-1.twig' %}
      </div>
      <div class="container--story--section section-1-2">
        {% include 'pages/civil/chapter-1/1-2.twig' %}        
      </div>
      <div class="container--story--section section-1-3">
        {% include 'pages/civil/chapter-1/1-3.twig' %}    
      </div>
      <div class="container--story--section section-1-4">
        {% include 'pages/civil/chapter-1/1-4.twig' %}        
      </div>

      {#CHAPITRE 2#}      
      <div class="container--story--section section-title section-2-1 hide-fixed">
        {% include 'pages/civil/chapter-2/2-1.twig' %}
      </div>
      <div class="container--story--section section-2-2">
        {% include 'pages/civil/chapter-2/2-2.twig' %}        
      </div>
      <div class="container--story--section section-2-3">
        {% include 'pages/civil/chapter-2/2-3.twig' %}    
      </div>
      <div class="container--story--section section-2-4">
        {% include 'pages/civil/chapter-2/2-4.twig' %}        
      </div>

      {#CHAPITRE 3#}      
      <div class="container--story--section section-title section-3-1 hide-fixed">
        {% include 'pages/civil/chapter-3/3-1.twig' %}
      </div>
      <div class="container--story--section section-3-2">
        {% include 'pages/civil/chapter-3/3-2.twig' %}        
      </div>
      <div class="container--story--section section-3-3">
        {% include 'pages/civil/chapter-3/3-3.twig' %}    
      </div>
      <div class="container--story--section section-3-4">
        {% include 'pages/civil/chapter-3/3-4.twig' %}        
      </div>

    </div>

    <div class="container--story--row container--story--row-mafia">
      
       {#CHAPITRE 1#}
      <div class="container--story--section section-title section-1-1">
        {% include 'pages/mafia/chapter-1/1-1.twig' %}
      </div>
      <div class="container--story--section section-1-2">
        {% include 'pages/mafia/chapter-1/1-2.twig' %}        
      </div>
      <div class="container--story--section section-1-3">
        {% include 'pages/mafia/chapter-1/1-3.twig' %}    
      </div>
      <div class="container--story--section section-1-4">
        {% include 'pages/mafia/chapter-1/1-4.twig' %}        
      </div>

      {#CHAPITRE 2#}      
      <div class="container--story--section section-title section-2-1">
        {% include 'pages/mafia/chapter-2/2-1.twig' %}
      </div>
      <div class="container--story--section section-2-2">
        {% include 'pages/mafia/chapter-2/2-2.twig' %}        
      </div>
      <div class="container--story--section section-2-3">
        {% include 'pages/mafia/chapter-2/2-3.twig' %}    
      </div>
      <div class="container--story--section section-2-4">
        {% include 'pages/mafia/chapter-2/2-4.twig' %}        
      </div>

      {#CHAPITRE 3#}      
      <div class="container--story--section section-title section-3-1">
        {% include 'pages/mafia/chapter-3/3-1.twig' %}
      </div>
      <div class="container--story--section section-3-2">
        {% include 'pages/mafia/chapter-3/3-2.twig' %}        
      </div>
      <div class="container--story--section section-3-3">
        {% include 'pages/mafia/chapter-3/3-3.twig' %}    
      </div>
      <div class="container--story--section section-3-4">
        {% include 'pages/mafia/chapter-3/3-4.twig' %}        
      </div>
      
    </div>

  </div>

{% endblock %}

{% block fixed %}

  {% include 'partials/fixed.twig' %}

{% endblock %}
