{% extends "partials/base.twig" %}

{% block content %}

  <div class="container--section container--section-landing">
    LANDING
  </div>
  <div class="container--section container--section-context">
    CONTEXT
  </div>
  <div class="container--section container--section-split">
    SPLIT
  </div>

  <div class="container--story">

    <div class="container--story--row container--story--row-civil">
      <div class="container--story--section">
        <a href="" class="section-control-vertical">scroll</a>
      </div>
      <div class="container--story--section">
        <a href="" class="section-control-vertical">scroll</a>
      </div>
      <div class="container--story--section">
        <a href="" class="section-control-vertical">scroll</a>
      </div>
      <div class="container--story--section">
        <a href="" class="section-control-vertical">scroll</a>
      </div>
      <div class="container--story--section">
        <a href="" class="section-control-vertical">scroll</a>
      </div>
    </div>

    <div class="container--story--row container--story--row-mafia">
      <div class="container--story--section">
        <a href="" class="section-control-vertical">scroll</a>
      </div>
      <div class="container--story--section">
        <a href="" class="section-control-vertical">scroll</a>
      </div>
      <div class="container--story--section">
        <a href="" class="section-control-vertical">scroll</a>
      </div>
      <div class="container--story--section">
        <a href="" class="section-control-vertical">scroll</a>
      </div>
      <div class="container--story--section">
        <a href="" class="section-control-vertical">scroll</a>
      </div>
    </div>

  </div>

{% endblock %}

{% block fixed %}
  {% include 'partials/fixed.twig' %}
{% endblock %}
