<video src="assets/video/generic.mp4" autoplay loop class="generic"></video>
<button class="generic-skip">skip</button>
<div class="content landing-content">
  <h1 class="title">ALCOHOL BLUES</h1>
  <p class="description">Revive the prohibition in the US</p>
  <button class="next">Begin the adventure</button>
</div>