<div class="container--section-split--part mafia">
  <div class="title">outfit chicago</div>
  <button class="next mafia-scroll">start with them</button>
  <div class="description">
    Live the prohibition with the mafia.</br>
    Understand how they managed to make profit with Prohibition.
  </div>
</div>

<div class="container--section-split--part civil">
  <div class="title">the population</div>
  <button class="next">start with them</button>
  <div class="description">
    Live the prohibition with the citizens.</br>
    Understand how they managed to spare Prohibition.
  </div>
</div>