$white = #fefefe

$black = #141414

$font-size = 12px

$yellow = #EFC80B

$green  = #0CE98B

.title
  font-size: 36pt
  font-weight: 800
  text-transform: uppercase
  text-align: center
  font-family: 'Raleway', sans-serif

.subtitle
  font-size: 13.5pt