body,html
  width: 100vw
  height: 100vh
  // overflow: hidden
  background: $black
  color: $white
  font-family: 'Open Sans', sans-serif
  font-size: 12pt
  user-select: none
  cursor: default

*, *::after, *::before
  box-sizing: border-box

*::after, *::before
  content: ""

.container
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  transition: transform .65s ease-in-out
  will-change: transform
  &--section
    width: 100vw
    height: 100vh
    flex-shrink: 0
    overflow: hidden
  &--story
    width: auto
    height: 100vh
    display: flex
    flex-direction: column
    transition: transform .65s ease-in-out    
    &.scrolled
      transform: translateY(-100vh)
    &--row
      width: auto
      display: flex
      flex-direction: row
      flex-shrink: 0      
    &--section
      flex-shrink: 0
      width: 100vw
      height: 100vh
      flex-shrink: 0

.fixed
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  pointer-events: none

  &-vertical-control
    pointer-events: auto
    transition: all .65s ease
    width: 40px
    height: 40px
    margin: 30px
    position: relative
    pointer-events: none
    svg
      pointer-events: painted
      transition: all .45s ease-in-out
      path
        fill: $green
    .name
      display: block
      position: absolute
      width: 50px
      height: 20px
      line-height: 20px
      font-size: 10pt
      text-transform: uppercase
      top: calc(50% - 10px)
      left: 30px
      pointer-events: auto
      opacity: 1
      &:nth-child(2n)
        opacity: 0
    &:hover
      svg
        transform: rotate(-180deg)
        path
          fill: $yellow
      .name
        opacity: 0
        &:nth-child(2n+1)
          opacity: 1


  &.hide

    .fixed-vertical-control
      transform: translateY(-100px)

    .timeline-hide
      transform: translateY(100px)
