body,html
  width: 100vw
  height: 100vh
  overflow: hidden
  background: $black
  color: $white
  font-family: 'Open Sans', sans-serif
  font-size: $font-size

*, *::after, *::before
  box-sizing: border-box

*::after, *::before
  content: ""

.container
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  transition: transform .65s ease-in-out
  will-change: transform
  &--section
    width: 100vw
    height: 100vh
    flex-shrink: 0
    border: 3px solid red    
  &--story
    width: auto
    height: 100vh
    display: flex
    flex-direction: column
    transition: transform .65s ease-in-out    
    &.scrolled
      transform: translateY(-100vh)
    &--row
      width: auto
      display: flex
      flex-direction: row
      flex-shrink: 0      
    &--section
      flex-shrink: 0
      width: 100vw
      height: 100vh
      background: tomato
      flex-shrink: 0
      border: 3px solid red

.fixed
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  pointer-events: none
  &-vertical-control
    color: red
    margin: 50px
    pointer-events: auto
  &.hide

    &-vertical-control
      transform: translateX(-100px)

    .timeline
      transform: translateY(100px)
