body,html
  width: 100vw
  height: 100vh
  overflow: hidden
  background: $black
  color: $white
  font-family: 'Open Sans', sans-serif
  font-size: 12pt
  user-select: none
  cursor: default

*, *::after, *::before
  box-sizing: border-box

*::after, *::before
  content: ""

.container
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  transition: transform .65s ease-in-out
  will-change: transform
  &--section
    width: 100vw
    height: 100vh
    flex-shrink: 0
    overflow: hidden
  &--story
    width: auto
    height: 100vh
    display: flex
    flex-direction: column
    transition: transform .65s ease-in-out    
    &.scrolled
      transform: translateY(-100vh)
    &--row
      width: auto
      display: flex
      flex-direction: row
      flex-shrink: 0      
    &--section
      flex-shrink: 0
      width: 100vw
      height: 100vh
      flex-shrink: 0
      position: relative
      overflow: hidden
      &::before,
      &::after
        z-index -1
        position absolute
        top 0
        left 0
        width 100%
        height 100%
      &::before
        background url("../img/title.jpg") no-repeat
        background-size cover
        background-position 0 20%
      &::after
        background rgba(0, 0, 0, 0.7)

.fixed
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  pointer-events: none

  &-audio-mute
    position: absolute
    right: 30px
    top: 30px
    width: 30px
    height: 30px
    pointer-events: auto
    transition: opacity 0.3s 0.45s ease
    &-container
      display: block
      width: 30px
      height: 30px
      display: flex
      flex-direction: column
      pointer-events: auto
      transform-origin: 100% 50%
      transition: transform .45s ease 
      &-line
        display: block
        position: relative
        width: 30px
        height: 3px
        background: $white
        margin: auto
        transform-origin: 100% 50%
        animation: scale .4s linear infinite alternate-reverse forwards
        transition: all 3s linear
        &:nth-child(1)
          animation-delay: .1s
        &:nth-child(2)
          animation-delay: .2s      
        &:nth-child(3)
          animation-delay: .3s      
        &:nth-child(4)
          animation-delay: .4s
    &.hide
      opacity: 0
      pointer-events: none
      .fixed-audio-mute-container
        transform: scaleX(0)
      



  &-vertical-control
    pointer-events: auto
    transition: all .65s ease
    width: 40px
    height: 40px
    margin: 30px
    position: relative
    pointer-events: none
    .windows
      display: flex
      width: 40px
      height: 25px
      flex-direction: column
      pointer-events: auto
      .window
        width: 20px
        height: 11px
        background: $white
        margin: auto
        transition: all .45s ease-in-out              
        &:nth-child(1)
          background: $green
          transform: scaleY(1)
          opacity: 1
        &:nth-child(2)
          background: $white
          transform: scaleY(0.45)
          opacity: 0.4            

    .name
      display: block
      position: absolute
      width: 50px
      height: 20px
      line-height: 20px
      font-size: 10pt
      text-transform: uppercase
      top: calc(50% - 10px)
      left: 30px
      pointer-events: auto
      opacity: 0
      transition: all .45s ease-in-out      
      &:nth-child(2n+1)
        opacity: 1
    &.rotate
      .window
        &:nth-child(2)
            background: $yellow
            transform: scaleY(1)
            opacity: 1
          &:nth-child(1)
            background: $white
            transform: scaleY(0.45)
            opacity: 0.4
            
      .name
        opacity: 1
        &:nth-child(2n+1)
          opacity: 0


  &.hide
    .fixed-vertical-control
      transform: translateY(-100px)

    .timeline-hide
      transform: translateY(100px)

.story-button
  font-size 18pt
  width 50px
  height 50px
  margin-top 70px
  border 1px solid $white
  border-radius: 2px
  transform-origin center
  transform rotate(45deg)
  position relative
  &:hover
    .animate
      transform: scaleX(1)
    &::after
      color: $black
  &::after
    content "!"
    display block
    transform-origin center
    transform rotate(-45deg)
    color: $white
    transition: all .8s ease
    animation: pitch .5s ease-in-out infinite alternate-reverse
  &::before
    display: block
    top -.5px
    left 48px
    position absolute
    z-index: 100
    width calc(50vw - 30px)
    height: 1px
    background: $white
    transform-origin left
    transform rotate(-45deg)
  .animate
    display: block
    width: 100%
    height: 100%
    background: $white
    position: absolute
    z-index: -1
    top: 0
    left: 0
    transform-origin: 0 50%
    transform: scaleX(0)
    transition: all 0.45s ease
    will-change: transform
  &.button-absolute
    position absolute
    bottom 110px
    right 200px

@keyframes pitch 
  from
    transform: rotate(-20deg)
  to
    transform: rotate(-70deg)

@keyframes scale 
  from
    transform: scaleX(0)
  to
    transform: scaleX(1)
    
@media (max-width : 768px) {
  * {
    font-size 8pt !important
  }
  .title {
    font-size 16pt !important
  }
  .subtitle {
    font-size 12pt !important
  }
}