.container--story--row-mafia
  .section-1-4
    position relative
    text-align center
    &::before,
    &::after
      z-index -1
      position absolute
      top 0
      left 0
      width 100%
      height 100%
    &::before
      background url("../img/mafia-data.jpg") no-repeat
      background-size cover
    &::after
      background rgba(0, 0, 0, 0.6)
    &.active
      polyline, rect
        transform scaleY(1)