.container--story--row-mafia
  .section-2-4
    position relative
    text-align center
    &::before,
    &::after
      z-index -1
      position absolute
      top 0
      left 0
      width 100%
      height 100%
    &::before
      background url("../img/st-valentines.jpg") no-repeat
      background-size cover
    &::after
      background rgba(0, 0, 0, 0.6)
    rect
      fill $yellow
    &.active
      rect
        transform scaleY(1)
        
    .title
      margin-bottom 0
      
    .subtitle
      font-weight lighter
      letter-spacing 1pt
      margin-top 10px
      color rgba(255, 255, 255, .8)    